<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    
</head>

<body>

    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Bars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars Data!</a></p>

        </div>

            {% for x in mars_data%}

        <div class="col-lg-12">
        
            <h1>Latest Mars News</h1>    
            <h3> {{ x.news_title }} </h3>
                <p>{{ x.news_p }} </p>
        
        </div>        
        
        <div class="row">

            
            <div class="col-md-8">
                <h1>Featured Mars Image</h1>
                <img src="{{ x.jpl_img_url }}" title="picture" alt="this is a picture of mars"/>
            </div>
            <div class="col-md-4">
                {{ x.tweet_data }} 
            </div>

        </div>

        <h1>Mars Hemispheres</h1>

        <div class="container">
            <div class="col-md-6">
                {{ x.hemisphere1_title }} 
                <img src="{{ x.hemisphere1_img }}" title="picture" alt="this is a picture of 1"/>
            </div>
            
            <div class="col-md-6">
                {{ x.hemisphere2_title }} 
                <img src="{{ x.hemisphere2_img }}" title="picture" alt="this is a picture of 2"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ x.hemisphere3_title }} 
                <img src="{{ x.hemisphere3_img }}" title="picture" alt="this is a picture of 3"/>
            </div>

            <div class="col-md-6">
                {{ x.hemisphere4_title }} 
                <img src="{{ x.hemisphere4_img }}" title="picture" alt="this is a picture of 4"/>
            </div>
        </div>
        
       

            {% endfor %}

    </div>
    src="/css/styles.css?v={random number/string}"
</body>

</html>
